<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">{{description}}</h1>
						<h3 class="location">{{city}} | {{country}}</h3>
						<p class="temp">
							<span class="temp-value">{{temp}}</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
                        </p>
                        <h4 style="color:white;">Lon {{lon}} | Lat {{lat}}</h4>
					</div>
				</div>
				
			</div>
		</div>

		